body {
    background-color: white;
}

#save-button {
    margin-top: 10px;
    margin-right: 10px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.projects-div {
    border: solid rgb(223, 99, 11);
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    border-radius: 25px;
    background: rgb(200, 186, 149);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 32%;
    height: 10%;
    color:rgb(58, 42, 3);
    text-align: center
}