body {
    background-color: white;
}
.nav-after-logged-in {
    display: flex;
    justify-content: space-around;
}
#error-image {
   display: flex;  
   flex-direction: row;
   align-items: center;
   background-color: #ff5a00;
   font-family: 'Courier New', Courier, monospace;
}
#error-text {
    margin-left: 15px;
}
#error-message {
    background-color: white;
}